body{
    height: 100vh;
    padding: 0;
    margin: 0;
    /* background-image: url(../img/static.gif) */
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
}

header{
    margin: 0;
}

.headerwrapper h1{
    color: black;
    font-family: 'Exo 2',sans-serif;
    margin: 0;
}

.headerwrapper{
    display: flex;
    margin: 10px 15px 0 15px;
    justify-content: space-between;
}

.headerbuttons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    
}

.headerbuttons p{
    color: black;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
    text-decoration-line: underline;
}

main{
    height:auto; 
}


.marquee {
    height: 90px;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 75px 0 50px;;
}

.marquee--inner {
    display: block;
    position: absolute;
    animation: marquee 5s linear infinite;
}

.marqueetext{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    /* font-weight: bolder; */
    font-family: 'Exo 2', sans-serif;
}


span {
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.mainslideshow{
    height: 400px;
    display: flex;
    overflow-x: auto;
}

.mainpic{
    height: 400px;
    width: 100vw;
    /* background-color: ;   */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Exo 2', sans-serif;
    /* font-weight: bolder; */
    font-size: 2rem;
}

.mainpic:nth-child(2){
    /* background-co*lor*: white; */
    /* color: black; */
}
.mainpic:nth-child(3){
    /* background-color: red; */
}
.mainpic:nth-child(4){
    /* background-color: hotpink; */
}
.mainpic:nth-child(5){
    /* background-color: blue; */
}
.mainpic:nth-child(6){
    /* background-color: purple; */
}
.mainpic:nth-child(7){
    /* background-color: green; */
}

footer{
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 10%
}

.about{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #505050;
    font-family: 'exo 2', sans-serif;
}

nav{
    position: fixed;
    height: 100%;
    background-color: white;
    width: 100%;   
    left: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.navhidden{
    left: 0;
}

.navicon{
    /* background-color: purple; */
    height: 100px;
    width: 100px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navicon i{
    font-size: 2rem
}

.navbutton a{
    text-decoration: none;
    color: black
}

.navearth{
    height: 100px;
    position: fixed;
    top: 42.5%;  
    opacity: 100;
    z-index: 100;
    /* display: none */
    background-color: white;
}

.earthhide{
    display: none;
}

.categories{
    opacity: 0;
}

.categories a{
    color: black;
    text-decoration: none;
}

.showcat{
    height: 100px;
    width: 100px;
    opacity: 100;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcat p{
    font-family: 'exo 2', sans-serif;
    margin: 2.5px
}

.navbutton{
    height: 100px;
    margin-top: 5%;
    font-family: 'exo 2',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}